version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: student_oltp
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build:
      context: ../..
      dockerfile: v2_analytics_modernisation/docker/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  pg_data:
